*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(9,23,48);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}

* {
    outline: 1px solid red;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.nav {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-right: 20px;
}

.primary-nav {
    width: 80vw;
    justify-content: flex-end;
}

.nav li {
    flex-basis: 8vw;
}

.nav a {
    color: rgb(136, 144, 177 );
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    display: block;
}

.primary-nav a {
    width: 100%;
    text-align: center;
}

.primary-nav > :not(:first-child) {
    border-left: 1px solid rgb(204,212,247);
}

.home{
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
}

.home a {
    text-align: center;
    margin-right: 12px;
}

.home span {
    display: block;
    color: rgb(0,248,212);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: bold;
    padding-top: 4px;
    border-radius: 50%;
    width: 40px;
    border: 2px solid rgb(0,248,212);
}

.section {
    display: grid;
    height: 950px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    border-bottom: 2px solid  rgb(0, 255, 170);
}

.photo {
    width: 500px;
}

.about {
    width: 550px;
    height: 500px;
}

.photo img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.intro span {
    color: rgb(0,248,212);
    font-size: 20px;
    word-spacing: 4px;
}

.intro h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 55px;
    margin-top: 10px;
    color: rgb(204,212,247);
}

.intro h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 47px;
    margin-top: 5px;
    color: rgb(136, 144, 177 );
}

.intro p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(136, 144, 177 );
}

.intro :not(.nav) {
    margin-left: 40px;
}

.secondary-nav {
    display: grid;
    grid-auto-flow: column;
    height: 150px;
    justify-items: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 20px;
}

.secondary-nav div {
   width: 135px;
   height: 130px;
}

.secondary-nav a {
    border-radius: 50%;
    text-align: center;
    height: 125px;
    padding-top: 35%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(9,23,48);
}

.res {
    background-color: rgb(0, 255, 170);
}

.proj {
    background-color: rgb(0,238,255);
}

.cont {
    background-color: rgb(249,162,0);
}

.column {
    display: flex;
    height: 450px;
    justify-content: center;
    column-gap: 40px;
}

#projects {
    width: 90%;
    margin: 0px auto;
    border-bottom: 2px solid  rgb(0, 255, 170);
}

.column p {
    width: 422px;
    height: 125px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(136, 144, 177 );
}

.column h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(204,212,247);
}

.code {
    height: 280px;
    display: grid;
    align-content: center;
}

.code h2 {
    color: rgb(204,212,247);
    font-size: 48px;
    letter-spacing: 2px;
    width: 85%;
    margin-left: 82px;
}

.column img {
    width: 491px;
    height: 330px;
}

#resume {
    width: 90%;
    margin: 0px auto;
    border-bottom: 2px solid  rgb(0, 255, 170);
}

.column2 {
    color: rgb(204,212,247);
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}

.column3 {
    display: flex;
    column-gap: 20px;
    width: 500px;
    justify-content: center;
}

.work {
    flex-basis: 340px;
}

.info {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.info h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(204,212,247);
}

.info p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(136, 144, 177 );
}

p.reach {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: rgb(204,212,247);
}

.form {
    width: 500px;
    height: 350px;
    margin-left: 10px;
    row-gap: 10px;
    color: rgb(204,212,247);
}


.form button {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: rgb(0, 255, 170);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:  rgb(9,23,48);
}

.form div.button {
    width: 150px;
    height: 125px;
    margin-top: 30px;
}

#message {
    height: 125px;
}

.footer {
    display: flex;
    height: 170px;
    color: rgb(136, 144, 177 );
    justify-content: space-around;
    align-items: center;
}

.footer div > p {
    margin-bottom: 5px;
}

.footer a + a {
    margin: 10px
}